*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.contenitore{
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 30px;

}

h1, h2, h3, h4, h5, h6{
    font-family: 'Righteous', cursive;
    color: white;
    
}

h4{
    font-size: 13px;
    margin: 10px 0;
}

body{
    font-family: 'Jost', sans-serif;
    text-align: center;
}

.titolo{
    color: #e53170;
    text-align: center;
    margin: 50px;
    font-size: 40px;
}

.box{
    float: left;
    margin: 20px;
    width: calc(100% / 3 - 40px);
    background-color: black;
    box-shadow: 9px -6px 3px 2px rgba(0,0,0,0.13);
    

}

.box-immagine{
    float: left;
    width: 30%;
    padding-right: 5px;

}

.box-contenitore{
    float: left;
    width: 70%;
    text-align: left;
    
}

.immagine{
    display: block;
    width: 100%;
}

.mail{
    color: #6cc2eb;
    
}